<% @@comments.each do |comment| %> 
<article>
  <h3><%= comment.link_title %></h3>
  <a href="http://reddit.com/u/<%= comment.author %>" target="_blank"><%= comment.author %>:</a>
  <br />
  <pre><%= comment.body %></pre>
  <br />
  <span><a href="/reply/<%= comment.name %>">[reply]</a></span>
</article>
<% end %>
