<% @@posts.each do |post| %> 
<article>
  <h3><%= post.title %></h3>
  <% if post.selftext.length > 0%>  
    <p><%= post.selftext %></p>
  <% else %>
    <br />
  <% end %>
  <span><strong><%= post.ups - post.downs %></strong> (<%= post.ups %> up, <%= post.downs %> down) | <a href="<%= post.url %>">[link]</a> | <a href="/post/<%= post.name %>">[comments]</a> | <a href="http://reddit.com/u/<%= post.author %>" target="_blank">[<%= post.author %>]</a></span>
</article>
<% end %>
